/* color controller */
:root {
    --white: white;
    --accent: skyblue;
  }

.menu-header 
{
    background-color: var(--white);
    color: var(--accent);
    min-height: 100px;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-nav
{
    background-color: var(--accent);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 2em;
}

#menu-nav-settings-icon
{
    color: white;
}

#menu-nav-home-icon 
{
    color: white;
}

.menu-nav-title
{
    font-size: 2rem;
    color: var(--white);
}

.menu-nav-container
{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.menu-nav-container-button
{
    border-radius: 15px;
    background-color: var(--white);
    color: var(--accent);
    font-size: 1.5rem;
    border-color: var(--white);
    border-width: 2px;
}

.menu-nav-admin-login
{
    border-radius: 15px;
    background-color: var(--white);
    color: var(--accent);
    font-size: 1.5rem;
    border-color: var(--white);
    border-width: 2px;
}


.menu-main-menu
{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

.menu-main-menu-header
{
    font-size: 3.5rem;
    background-color: var(--accent);
    color: var(--white);
    padding: .25em;
}

.menu-main-menu-categories 
{
    display: flex;
    justify-content: space-between;
    background-color: var(--accent);
    color: var(--white);
    font-size: 1.5rem;
    align-items: center;
    padding: .5em 0;
    line-height: 1.5em;
    text-align: center;
}

.menu-main-menu-category 
{
    padding: 0 1em;
    border-right: 5px solid var(--white); 
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-main-menu-category:hover
{
    font-size: 2rem;
}

#menu-main-menu-water-and-beverages
{
    border-right: none; 
}

#menu-main-menu-sweet-crepes 
{
    border-left: none
}

.menu-body-entry-photo
{
    width: 125px;
    height: 125px;
    padding: 1em;
}

.menu-main-menu-body 
{
    height: 450px;
    overflow-y: auto;
}

.menu-body-category-container
{
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.menu-body-entry-container
{
    display: flex;
    flex-direction: row;
    background-color: var(--accent);
}

.menu-body-entry-description-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    gap: .5em;
}

.menu-body-entry-title
{
    font-size: 2rem;
}

.menu-body-entry-description
{
    font-size: 1.5rem;
}

#menu-body-sweet-crepes
{
    display: flex;
    
}

#menu-body-savory-crepes
{
    display: none;
    
}

#menu-body-kids-crepes
{
    display: none;
    
}

#menu-body-sweet-paris-waffles
{
    display: none;
    
}

#menu-body-breakfast-crepes-and-waffles
{
    display: none;
    
}

#menu-body-soups-salads-and-paninis
{
    display: none;
    
}

#menu-body-le-bar
{
    display: none;
    
}

#menu-body-hot-drinks-and-milkshakes
{
    display: none;
    
}

#menu-body-beverages
{
    display: none;
    
}

.menu-footer 
{
    background-color: var(--accent);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .75em;
}

.menu-footer-message
{
    font-size: 2rem;
}

.menu-footer-container
{
    display: flex;
    flex-direction: row;
    gap: 5em;
}   